<form class="card" action="" [formGroup]="form" (ngSubmit)="submit()">
    <h2>Enter to admin panel</h2>
    <div
            [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid}"
            class="form-control"
    >
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email">
        <div
                *ngIf="form.get('email').touched && form.get('email').invalid"
                class="validation"
        >
            <small *ngIf="form.get('email').errors.required">
                Please enter email
            </small>
            <small *ngIf="form.get('email').errors.email">
                Please enter correct email
            </small>
        </div>
    </div>

    <div
            [ngClass]="{invalid: form.get('password').touched && form.get('password').invalid}"
            class="form-control"
    >
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password">
        <div
                *ngIf="form.get('password').touched && form.get('password').invalid"
                class="validation"
        >
            <small *ngIf="form.get('password').errors.required">
                Please enter  password
            </small>
            <small *ngIf="form.get('password').errors.minlength">
                Password should be bigger then
                {{form.get('password').errors.minlength.requiredLength}}
                and now it
                {{form.get('password').errors.minlength.actualLength}}
            </small>
        </div>

    </div>
    <button
            type="submit"
            class="btn btn-primary"
            [disabled]="form.invalid"
    >Enter</button>
</form>
